### Python Data Structures
#### Lists
- It's one of common data structure supported by python, the list items are seperated by comma operator and enclosed in square bracket.
- Example:
       list1[1,6,9,5]
       list2["Gitam",10,15,"Hyderabad"]

In [1]:
lst=[1,8,3,12,19]
print(lst)
print(lst[0])
print(lst[1])
print(lst[-1])
print(lst[-2])
print(lst[1:])
print(lst[1:4])

[1, 8, 3, 12, 19]
1
8
19
12
[8, 3, 12, 19]
[8, 3, 12]

In [3]:
li=["Gitam","Python",1989]
print(li)
li[2]=2019
print(li)

['Gitam', 'Python', 1989]
['Gitam', 'Python', 2019]

In [8]:
#delete the specific item from list
li=["Gitam","Python",1989]
print(li)
del li[1]
print(li)

['Gitam', 'Python', 1989]
['Gitam', 1989]

In [15]:
#basic list operations
lst1= [1,9,6,18,2]
print(len(lst1))
print(lst1*2)
print(len(lst1))
print(9 in lst1)
print(15 in lst1)
for x in range(len(lst1)):
    print(lst1[x],end=" ")

5
[1, 9, 6, 18, 2, 1, 9, 6, 18, 2]
5
True
False
1 9 6 18 2

In [21]:
#function of the list
lst1
print(min(lst1))
print(max(lst1))
print(sum(lst1))
print(sum(lst1)//len(lst1))
print(sum(lst1[1::2])//len(lst1[1::2]))

1
18
36
7
13

In [40]:
lst1
lst1.append(24)
lst1
lst1.insert(2,56)
lst1
lst1.count(18)
lst1.index(56)
lst1.sort()
lst1
lst.pop()
lst1
lst1.pop(1)
lst2=[123,23,45]
lst1.extend(lst2)
lst1

[1, 9, 24, 24, 24, 56, 56, 123, 23, 45]

In [41]:
lst1
del lst1[3]
del lst1[5]
lst1

[1, 9, 24, 24, 56, 123, 23, 45]

In [43]:
lst1
del lst1[2]
lst1

[1, 9, 24, 56, 123, 23, 45]

In [47]:
#function to find the second large number from list
def secondlarge(li):
    li.sort()
    return li[-2]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li=[12,52,34,78,86]
print(secondlarge(li))
print(genericlarge(li,3))

78
52

In [51]:
#funtion to find second least
def secondleast(li):
    li.sort()
    return li[1]
def genericleast(li,n):
    li.sort()
    return li[n]
li=[5,67,34,29,15]
print(secondleast(li))
print(genericleast(li,2))

15
29

### Linear Search
- Linear search algorithm can be applied on duplicate and unique list
      - Unique list: The all item of the list is appeared only one time
      - Duplicate list: The item of the list can be appeared more than once
- Linear search algorithm can be applied on sorted and unsorted list

In [57]:
#function to search the data in a list
def linearsearch(li,k):
    for x in range(len(li)):
        if li[x]==k:
            return x
    return -1
li = [1,34,52,76,93]
print(linearsearch(li,93))
print(linearsearch(li,3))

4
-1

In [65]:
#function for linear search of duplicate list
def linear(li,key):
    for x in range(len(li)):
        if li[x]==key:
            print(x,end=" ")
    return 
li = [5,43,67,95,32,5,75,28,5]
linear(li,5)

0 5 8

In [70]:
#function
def linear(li,key):
    for x in range(len(li)):
        if li[x]==key:
            for k in range(x):
                print(end="!")
            print(" ")
                
    return
li = [5,43,67,95,32,5,75,28,5]
linear(li,5)

!!!!!
!!!!!!!!

In [73]:
#function to print sum
def list(li):
    sum=0
    for x in range(len(li)):
        if li[x]%3==0 and li[x]%5==0:
            print(li[x],end=" ")
            sum=sum+li[x]
        
    return sum
li=[12,3,15,40,60,25,37]
list(li)

15 60

75

In [86]:
#function to print list
#print 1st and last numbers as it is
#need to multiply the previous and next number
def num(li):
    for x in range(len(li)):
        if x==0 or x==len(li)-1:
            print(li[x],end=" ")
        else:
            print((li[x-1]*li[x+1]),end=" ")
    return
li=[1,3,5,7,9]
num(li)

1 5 21 45 9

In [2]:
#function to print list
#print first and last numbers
#if both sides are even then print number
def numb(li):
    for x in range(len(li)):
        if x==0 or x==len(li)-1:
            print(li[x],end=" ")
        elif li[x-1]%2==0 and li[x+1]%2==0:
            print(li[x],end=" ")
        else:
            continue           
    return
li=[2,3,6,9,8,10,12]
numb(li)

2 3 9 10 12

### Number to List
- Input as number
- Expected output will be list

In [2]:
#function for conversion- number to list
def con(n):
    li=[]
    while  n!=0:
        r=n%10
        li.append(r)
        n=n//10
    li.reverse()
    return li

con(15379)

[1, 5, 3, 7, 9]

In [6]:
#function to count the occurance
def occur(s,c):
    cnt=0
    for ch in s:
        if ch==c:
            cnt+=1
    return cnt
def occur1(s,c):
    return s.count(c)
occur1("python programming",'m')

2

### String to list conversion

- Input will be string
- Expected output will be list

In [7]:
#function to convert string to list
def conv(s):
    li= s.split()
    list=[]
    for i in li:
        list.append(int(i))
    return list
s="2 3 5 7 11"
conv(s)

[2, 3, 5, 7, 11]

### Sorting algorithms

- All the sorting algorithms make the list into ascending order
- Bubble sort
- Selection sort
- Insertion sort

### Bubble sort

- This algorithm compares the adj elements 
- If the element is greater than second element than it is required to swap the elements

In [10]:
#bubble sort
def bubble(li):
    for i in range(len(li)-1):
        for j in range(len(li)-1):
            if li[j]>li[j+1]:
                li[j],li[j+1]=li[j+1],li[j]
    return li
li=[23,65,34,78,90,46]
bubble(li)

[23, 34, 46, 65, 78, 90]